<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>
	<tbody>
	<p th:if="${result}" th:text="${mensaje}"></p>
		<div>
			<form th:action="@{/formcuenta}" th:object="${cuenta}" method="post">
				<table>
					<tr>
						<td>Nombre</td>
						<td><input type="text" th:field="*{nombre}" required></td>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" ></div>
					</tr>
					<tr>
						<td>Saldo</td>
						<td><input type="text" th:field="*{saldo}" required></td>
						<div th:if="${#fields.hasErrors('saldo')}" th:errors="*{saldo}" ></div>
					</tr>
					<tr>
						<td>Numero de telefono</td>
						<td><input type="number" th:field="*{numeroTelefono}" required></td>
						<div th:if="${#fields.hasErrors('numeroTelefono')}" th:errors="*{numeroTelefono}" ></div>
					</tr>
					<tr>
						<td>Fecha de creacion</td>
						<td><input type="date" th:field="*{diaCreacion}" required></td>
					</tr>
				</table>
				<br> <input type="submit" th:value=${boton}/>
			</form>
		</div>
	</tbody>
	<hr>
	<a th:href="@{/listacuentas}">Regresar...</a>

</body>
</html>