<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
<h3 th:text=${titulo}></h3>
<br>
<a th:href="@{/formtarjeta}">Registrar tarjeta</a><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <a th:href="@{/}">Volver al inicio</a>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Numero de tarjeta</th>
			<th>ICV</th>
			<th>Vencimiento</th>
			<th>Cuenta</th>
		</tr>
	</thead>
	<tbody>
		<p th:if="${tarjetas.isEmpty()}">La lista de tarjetas esta vacia</p>
	
		<tr th:each="tarjeta: ${tarjetas}"></tr>
		<tr th:each="tarjeta: ${tarjetas}">
			<td th:text="${tarjeta.getId()}"></td>
			<td th:text="${tarjeta.getNumeroTarjeta()}"></td>
			<td th:text="${tarjeta.getIcv()}"></td>
			<td th:text="${tarjeta.getVencimiento()}"></td>
			<td th:text="${'ID: '+ tarjeta.getCuenta().getId() + ' Nombre: ' + tarjeta.getCuenta().getNombre()}"></td>
			<td><a th:href="@{/formtarjeta/} + ${tarjeta.getId()}" th:text = "'Editar'"></a></td>
			<td><a th:href="@{/eliminartarjeta/} + ${tarjeta.getId()}" th:text = "'Eliminar'" onclick="return confirm('¿Estas seguro que deseas eliminar la tarjeta?');"></a></td>
		</tr>
	</tbody>
</table>

</body>
</html>